body { margin: 0px; font-size: 1rem; font-weight: 400; line-height: 1.5; color: rgb(33, 37, 41); text-align: left; background-color: rgba(0, 0, 0, 0) !important; }
.container { }
.joblist-table { background-color: rgb(236, 236, 236); padding-left: 0px; padding-right: 0px; border-radius: 25px; width: 900px; display: none; }
.joblist-header { width: 100%; background-color: rgb(236, 236, 236); color: white; font-weight: 500; font-size: 20px; border-top-right-radius: 25px; border-top-left-radius: 25px; }
.joblist-body { overflow-y: scroll; border-radius: 25px; }
.joblist-container { background-color: rgba(21, 21, 21, 0.92); border-radius: 25px; }
.container-header { color: white; font-weight: 500; font-size: 20px; }
.joblist-container { min-height: 500px; max-height: 800px; }
.body-info { color: white; }
.plate { color: rgb(0, 171, 255); }
.state { color: rgb(0, 255, 0); }
.offstate { color: red; }
.rename { margin-top: 3px; height: 40px; float: right; border-radius: 25px; }
.action { border-radius: 25px; }
.trunk { color: rgb(0, 171, 255); }
a { color: white; }
a:hover { color: rgb(195, 195, 195); }
.nav-pills .nav-link.active, .nav-pills .show > .nav-link { border-radius: 25px; background-color: green !important; }
